body {
    font-family: fantasy;
    margin:0px
}
nav {
    height: 56px;
    background-color: lightcoral;
    border-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
}
.nametag {
    background-color: white;
    position: absolute;
    padding: 20px;
    top: 0%;
    right: 1065px;
}
ul {
    list-style-type: none;
    float:right;
    position:absolute;
    right: 240px;
    top: 1%
}
.menu-item {
    margin-top: 5px;
    padding: 12px;
    float: right;
}
.background {
    padding: 50px 150px 50px 150px;
    background-image: url("../images/background-image-2x.png")

}
.box {
    margin: 1% 5% 0% 5%;
    background-color: whitesmoke;
    padding: 1%;
    height: 400px;
    width: 960px;
}
.lefty {
    float:left;
    margin-right: 10px;
}
.footer {
    padding: 28px;
    background-color: lightcoral;
    border-style: solid;
    border-top-width: 2px;
    border-top-color: black;
}
form {
    margin-left: 20px;
}
.text-box {
    width: 500px;
    height:20px;
}
.line {
    height: 1px;
    background-color: black;
    margin:15px;
}
.message {
    height: 150px;
    width: 500px;
}
.button {
    background-color: lightcoral;
    height: 20px;
}
.portfolio-item {
    margin: 19px;;
    float: left;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.image-tag {
    background-color:lightcoral;
    position: absolute;
    width: 200px; 
    padding:15px 0px 15px 0px;
    text-align: center;
    top: 40%;
}

